{
  "parser": "babel-eslint",
  "extends": ["airbnb-base", "prettier"],
  "plugins": ["flowtype", "prettier"],
  "parserOptions": {
    "ecmaVersion": 7,
    "ecmaFeatures": {
      "legacyDecorators": true
    }
  },
  "rules": {
    "prettier/prettier": ["error"],
    "comma-dangle": ["warn", "always-multiline"],
    "import/newline-after-import": ["error", { "count": 1 }],
    "import/prefer-default-export": "off",
    "flowtype/define-flow-type": 1,
    "space-before-function-paren": "off",
    "arrow-parens": ["warn", "as-needed"],
    "class-methods-use-this": "off",
    "no-restricted-syntax": "off",
    "no-template-curly-in-string": "off"
  },
  "env": {
    "node": true,
    "jest": true
  }
}
